html, body {
    height: calc(100% - 40px);
    position: static;
}

.profiler {
    float: right;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 100%;
}

.profil {
    height: 250px;
    display: flex;
    flex-direction: row;
}

.profil img {
    background: black;
    display: grid;
    float: left;
    height: 250px;
    width: 250px;
    object-fit: cover;
    padding: 25px;
    object-position: var(--i) 100%;
    filter: grayscale(100%);
    transition: filter .3s ease;
}

.profil img:hover {
    filter: none;
}

.tekst {
    padding-left: 30px;
    border-left: 3px solid #000;
    margin-left: 20px;
    height: calc(250px);
}

.tekst h4 {
    font-weight: 300;
    transform: translateY(-20px);
}

.about {
    z-index: 1;
    background-color: rgb(255, 255, 255);
    background-position-x: right;
    padding-left: 30px;
    padding-right: 30px;
    top: 0;
    max-width: 35%;
    text-align: left;
    position: absolute;
    right: 0;
}

#container {
    position: relative;
}