html, body {
    height: calc(100% - 40px);
}

.profiles {
    width: 100%;
}

.user {
    display: flex;
    height: 200px;
    width: 200px;
    background: white;
}

.user img {
    height: 180px;
    width: 180px;
}