html, body {
    height: calc(100% - 40px);
}

body {
    background: #333;
    background-image: radial-gradient(circle at 8px 8px, #181818 2px, rgba(0,0,0,0) 0);
    background-size: 25px 25px;
    animation: move 5s linear infinite;
    z-index: 100;
}

h1 {
    margin-top: 0;
    text-align: center;
}
  
@keyframes move {
    from { background-position: calc(25px * -5) calc(25px * -2); }
}

input, textarea {
    width: 100%;
    resize: vertical;
}

.påst{
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

.melding{
  width: 100%;
  margin: 8px 0;
  box-sizing: border-box;
}

.subject{
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
}

.knapp{
    background-color: rgb(200, 255, 0);
    border-radius: 7px;
    cursor: pointer;
    padding: 4px;
    width: 100%;
    height: 40px;
}

.knapp:hover{
    background-color: rgb(0, 156, 0);
}

#container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#content {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: center;
}

#content > div {
    display: grid;
    place-items: center;
    align-items: flex-start;
    width: 50%;
}

#card {
    background: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 7px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 1;
    width: 250px;
}

#cube {
    position: relative;
    /* position: absolute; */
    /* display: flex; */
    /* align-items: center; */
}

.cube {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: animate 6s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotateX(-20deg) rotateY(360deg);
    }
    100% {
        transform: rotateX(-20deg) rotateY(0deg);
    }
}

.cube span {
    position: absolute;
    width: 300px;
    height: 300px;
    background: var(--clr);
    transform: rotateY(calc(90deg * var(--i))) translateZ(150px);
    transform-style: preserve-3d;
}

.cube.obama span, .cube span.obama {
    background: url('/images/obama.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cube span.top {
    transform: rotateX(90deg) translateZ(150px);
}

.cube span.top {
    transform: rotateX(90deg) translateZ(150px);
}

.cube span.top::before {
    content: '';
    position: absolute;
    inset: 0;
    transform: translateZ(-350px);
    background: rgba(0,0,0,0.5);
    filter: blur(50px);
}

/* .cube:hover {
    animation-play-state: paused;
} */